@model Projeto01.ConceitosMVC.Models.Produto
@{
    ViewBag.Title = "Exibir";
}

<h2>Exibir Dados do Produto</h2>
<strong>Código: </strong><span>@Model.Codigo</span>
<br />
<strong>Descrição: </strong><span>@Model.Descricao</span>
<br />
<strong>Preço: </strong><span>@Model.Preco</span>
<br />
