
@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos - Escolha uma opção</h2>

<ul>
    <li>@Html.ActionLink("Cadastro de Produtos", "Cadastro", "Produtos")</li>
    <li>@Html.ActionLink("Cadastro de Produtos (Model)", "CadastroModel", "Produtos")</li>
</ul>
    

