
@{
    ViewBag.Title = "Clientes";
}

<h2 style="color: black">Clientes - Escolha uma opção</h2>

<ul>
    <li class="btn btn-primary">@Html.ActionLink("Cadastro de Clientes","Cadastro","Clientes")</li>
    <li class="btn btn-primary">@Html.ActionLink("Lista de Clientes (List)","Listar01","Clientes")</li>
    <li class="btn btn-primary">@Html.ActionLink("Lista de Clientes (HashSet)","Listar02","Clientes")</li>
</ul>

