
@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes - Escolha uma opção</h2>

<ul>
    <li>@Html.ActionLink("Cadastro de Clientes","Cadastro","Clientes")</li>
    <li>@Html.ActionLink("Lista de Clientes (List)","Listar01","Clientes")</li>
    <li>@Html.ActionLink("Lista de Clientes (HashSet)","Listar02","Clientes")</li>
</ul>

