@{ 
    ViewBag.Title = "Início";

}    

<div style="text-align: center">
    <h1 class="texto" style="text-align: center; color: blaCK">Bem vindo(a)!</h1>
    <p style="color: black" class="glyphicon-envelope">Este é um projeto apenas para mostrar à vocês os conceitos básicos sobre MVC.</p>
  
</div>